<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0"
    metadata-complete="false">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.myproject.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.myproject.UserServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
</servlet-mapping>

</web-app>